body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    min-height: 100vh;
}

p {
    font-size: 0.85rem;
}

.main {
    background-color: hsl(0, 100%, 74%);
    background-image: url("../images/bg-intro-desktop.png");
    min-height: 100vh;
    display: flex;
}

.row {
    width: 90%;
    padding: 6% 5%;
    margin: auto;
}

.title-container {
    margin: auto 0;
}

.title {
    font-weight: 600;
    font-size: 2.7rem;
    padding-bottom: 1rem;
}

.trial-message-box {
    background-color: #5D54A3;
    padding: 5% 10%;
    margin-bottom: 3%;
}

.trial-message-text {
    margin:auto;
    font-size: 0.7rem;
}

.trial-message-box, .form-container {
    box-shadow: 0 6px rgba(000, 0, 0, 0.15);
    border-radius: 8px;
    text-align: center;
}

.form-container {
    background-color: #fff;
    padding: 7%;
}

.input-container {
    position: relative;
}

.client-info {
    width: 100%;
    padding: 3% 6%;
    margin: 2% 0;
    font-size: 0.7rem;
    font-weight: 600;
    caret-color: #5D54A3;
    border: 1px solid #5D54A3;
    border-radius: 5px;
}

.input-container .client-info.placeholder-error::-webkit-input-placeholder {
    color: hsl(0, 100%, 74%);
}

.input-error {
    border-color: hsl(0, 100%, 74%);
}

.icon-error {
    position: absolute;
    top: 30%;
    right: 3%;
    display: none;
}

.empty-input-error {
    display: none;
    color: hsl(0, 100%, 74%);
    font-size: 0.6rem;
    text-align: right;
    margin-bottom: 0;
}

.show {
    display: block;
}

.btn {
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    width: 100%;
    margin: 5% 0;
    border-radius: 5px;
    box-shadow: 0 3px rgba(46, 160, 111, 0.8);
}

.btn:hover {
    background-color: hsl(154, 59%, 51%);
    opacity: 0.7;
}

.terms-and-services-text {
    color: hsl(246, 25%, 77%);
    font-size: 0.55rem;
}

.terms-link {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    text-decoration: none;
}

.terms-link:hover {
    opacity: 0.8;
}
